/*======Загальні стилі====*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

button {
    font-family: inherit;
    cursor: pointer;
    display: block;
}
img {
    display: block;
    max-width: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
.logo-header {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.span-header {
    color: #2e2f42;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}
.container{
    max-width: 320px;
    padding: 0 16px;
     margin: 0 auto;
}
.meniu{
    display: none;
}
navigacja-header{
    display: flex;
    justify-content: space-between;
     align-items: center;
}
.form-adress{
    display: none;
}
.adres-contacts{
display: flex;
    gap: 40px;
}
.menu-open{
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    line-height: 0;
}
.menu-open-icon{
    fill: #2f2f37;
}
@media only screen and (min-width:768){
    .container {
       max-width: 768px;
        }
}
@media only screen and (min-width:1158px) {
.container {
        max-width: 1158px;
        padding: 0 15px;
    }
}
